{% extends "layout/base_estudiante.html" %}

{% block 'titulo' %}
{% if not resuelta %}
Responder Actividad Evaluativa
{% else %}
Editar Respuesta de la Actividad Evaluativa
{% endif %}
{% endblock %}

{% block 'contenido' %}
<div class="text-center mt-3">
  {% if not resuelta %}
  <h1>Responder Actividad Evaluativa</h1>
  {% else %}
  <h1>Editar Respuesta de Actividad Evaluativa</h1>
  {% endif %}
</div>
<hr>
<div class="container">
  <h3> <b>Orden:</b></h3>
  <div style="text-align: justify; font-size: 20px;">
    {{orden}}
  </div>
  <hr>
  <form method='post' id="form">
    {% csrf_token %}
    <label class='form-label' for="respuesta">Respuesta de la Actividad:</label>
    {{form.respuesta}}
  </form>
  <div class="fixed-bottom d-flex p-3 justify-content-around bg-white border shadow">
    <button class="btn btn-danger" type="button" data-bs-toggle="modal" data-bs-target="#cancelar"><i class="fa-solid fa-xmark"></i> Cancelar</button>
    <button class="btn btn-success" type="button" data-bs-toggle="modal" data-bs-target="#aceptar"><i class="fa-solid fa-check"></i>  Aceptar</button>
  </div>
  <div class="mt-5 p-4"></div>
  <div class="modal" id="cancelar">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title"><i class="fa-solid fa-triangle-exclamation text-danger"></i> Descartar Cambios</h5>
          <button data-bs-dismiss="modal" class="btn-close"></button>
        </div>
        <div class="modal-body">
          <p>¿Seguro que desea descartar los cambios en la respuesta actual?</p>
        </div>
        <div class="modal-footer d-flex justify-content-between">
          <button data-bs-dismiss="modal" class="btn btn-danger" type="button"><i class="fa-solid fa-xmark"></i> Cancelar</button>
          <a href="{% url 'visualizar_actividad_evaluativa' asignatura_pk=view.kwargs.asignatura_pk pk=view.kwargs.pk %}" class="btn btn-success"><i class="fa-solid fa-check"></i>  Aceptar</a>
        </div>
      </div>
    </div>
  </div>
  <div class="modal" id="aceptar">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Confirmar Cambios</h5>
          <button data-bs-dismiss="modal" class="btn-close"></button>
        </div>
        <div class="modal-body">
          <p><i class="fa-solid fa-circle-exclamation text-info"></i> ¿Desea guardar los cambios?</p>
        </div>
        <div class="modal-footer d-flex justify-content-between">
          <button data-bs-dismiss="modal" class="btn btn-danger" type="button"><i class="fa-solid fa-xmark"></i> Cancelar</button>
          <button data-bs-dismiss="modal" class="btn btn-success" type="submit" form="form"><i class="fa-solid fa-check"></i>  Aceptar</button>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}