{% extends "layout/base_profesor.html" %}
{% load static %}

{% block 'titulo' %}
{% if crear %}
Responder Duda
{% else %}
Editar Respuesta de Duda
{% endif %}
{% endblock %}

{% block 'contenido' %}
<div class="text-center mt-3">
  {% if crear %}
  <h1>Responder Duda</h1>
  {% else %}
  <h1>Editar Respuesta de Duda</h1>
  {% endif %}
</div>
<hr>
<div class="container">
  <h3 class='fw-bold'>Duda:</h3>
  <p>{{duda}}</p>
  <hr>
  <form method='post' id="form">
    {% csrf_token %}
    <label class='form-label mt-2' for="sobre">Mensaje:</label>
    {{form.mensaje}}
    <div>
      <div id="error-mensaje" class="invalid-feedback">
        Debe completar este campo para continuar.
      </div>
    </div>
  </form>
  <div class="fixed-bottom d-flex p-3 justify-content-around bg-white border shadow">
    <button class="btn btn-danger" type="button" data-bs-toggle="modal" data-bs-target="#cancelar">Cancelar</button>
    <button class="btn btn-success" type="button" data-bs-toggle="modal" data-bs-target="#aceptar">Aceptar</button>
  </div>
  <div class="mt-5 p-4"></div>
  <div class="modal" id="cancelar">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Descartar Cambios</h5>
          <button data-bs-dismiss="modal" class="btn-close"></button>
        </div>
        <div class="modal-body">
          <p>¿Seguro que desea descartar los cambios en la respuesta a la duda actual?</p>
        </div>
        <div class="modal-footer d-flex justify-content-between">
          <button data-bs-dismiss="modal" class="btn btn-danger" type="button">Cancelar</button>
          <a href="{% url 'listar_dudas_profesor' estudiante_pk=view.kwargs.estudiante_pk %}" class="btn btn-success">Aceptar</a>
        </div>
      </div>
    </div>
  </div>
  <div class="modal" id="aceptar">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Confirmar Cambios</h5>
          <button data-bs-dismiss="modal" class="btn-close"></button>
        </div>
        <div class="modal-body">
          <p>¿Desea guardar los cambios?</p>
        </div>
        <div class="modal-footer d-flex justify-content-between">
          <button data-bs-dismiss="modal" class="btn btn-danger" type="button">Cancelar</button>
          <button data-bs-dismiss="modal" class="btn btn-success" type="submit" form="form">Aceptar</button>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}


{% block 'scripts' %}
<script src='{% static "jquery/jquery-3.7.1.min.js" %}'></script>
<script src='{% static "js/validar_respuesta_duda.js" %}'></script>
{% endblock  %}