{% extends "layout/base_profesor.html" %}
{% load static %}

{% block 'sub-estilos' %}
<link rel="stylesheet" href="{% static 'css/botones.css' %}">
{% endblock %}

{% block 'titulo' %}Visualizar Actividad Evaluativa{% endblock %}

{% block 'contenido' %}
<div class="text-center mt-3">
  <h1>Actividad Evaluativa #{{actividad.numero}} de <b>"{{actividad.asignatura.nombre}}"</b></h1>
</div>
<hr>
<div class="container bg-white border rounded p-4">
  <h3><span class='fw-bold'>Estado:</span>
    {{actividad.estado}}
  </h3>
  <h4 style="word-wrap: break-word; overflow: hidden;"><span class='fw-bold'>Objetivo: </span>{{actividad.objetivoEvaluar}}</h4>
  <h4 class='fw-bold'></h4>
  <p style="text-align: justify; font-size: 20px;">
    {{actividad.orden}}
  </p>
</div>
<div class="mt-5 p-4"></div>
<div class="fixed-bottom d-flex p-3 justify-content-around bg-white border shadow">
  <a href="{% url "modificar_actividad_evaluativa" actividad.pk %}" class="btn btn-modificar"><i class="fa-solid fa-pen-to-square"></i>
     Modificar</a>
  <a href="{% url "listar_actividades_evaluativas_profesor" %}" class="btn btn-green"><i class="fa-solid fa-arrow-left"></i> Volver</a>
  {% if actividad.estado == 'Habilitada' %}
    <a class='btn btn-green' href="{% url "modificar_estado_actividad_evaluativa" actividad.pk %}">Deshabilitar</a>
  {% else %}
    <a class='btn btn-green' href="{% url "modificar_estado_actividad_evaluativa" actividad.pk %}">Habilitar</a>
  {% endif %}
  <a href="{% url "eliminar_actividad_evaluativa" actividad.pk %}" class="btn btn-eliminar"><i class="fa-solid fa-trash-can"></i> Eliminar</a>
</div>
{% endblock %}