{% extends "layout/base_profesor.html" %}
{% load static %}

{% block 'titulo' %}
{% if crear %}
Crear Clase
{% else %}
Editar Clase
{% endif %}
{% endblock %}

{% block 'contenido' %}
<div class="text-center mt-3">
  {% if crear %}
  <h1>Crear Clase de <b>"{{request.user.usuario.profesor.asignatura.nombre}}"</b></h1>
  {% else %}
  <h1>Editar Clase de <b>"{{request.user.usuario.profesor.asignatura.nombre}}"</b></h1>
  {% endif %}
</div>
<hr>
<div class="container">
  {% if form.errors %}
  {% for error in form.numero.errors %}
  <div class="alert alert-danger d-flex align-items-center alert-dismissible" role="alert">
    {{error}}
    <button class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
  </div>
  {% endfor %}
  {% endif %}

  <form method='post' id="form">
    {% csrf_token %}
    <div class="d-flex align-items-center">
      <label for="numero" class="form-label me-2">Número de Clase:</label>
      <div style='width: 60px;'>
        {{form.numero}}
      </div>
      <div class='mx-2'>
        <div id="error-numero" class="invalid-feedback">
          Debe completar este campo para continuar.
        </div>
        <div id="error-numero-formato" class="invalid-feedback">
          Este campo solo admite valores numéricos positivos.
        </div>
      </div>
    </div>
    <label for="encabezado" class="form-label mt-2">Tema:</label>
    {{form.encabezado}}
    <div>
      <div id="error-tema" class="invalid-feedback">
        Debe completar este campo para continuar.
      </div>
      <div id="error-tema-formato" class="invalid-feedback">
        Este campo solo admite 255 caracteres.
      </div>
    </div>
    <label for="cuerpo" class="form-label mt-2">Contenido:</label>
    <div>
      <div id="error-orden" class="invalid-feedback">
        Debe completar este campo para continuar.
      </div>
    </div>
    {{form.cuerpo}}
  </form>
  <div class="mt-5 p-4"></div>
  <div class="fixed-bottom d-flex p-3 justify-content-around bg-white border shadow">
    <button class="btn btn-danger" type="button" data-bs-toggle="modal" data-bs-target="#cancelar">Cancelar</button>
    <button class="btn btn-success" type="button" data-bs-toggle="modal" data-bs-target="#aceptar">Aceptar</button>
  </div>
  <div class="modal" id="cancelar">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Descartar Cambios</h5>
          <button data-bs-dismiss="modal" class="btn-close"></button>
        </div>
        <div class="modal-body">
          <p>¿Seguro que desea descartar los cambios en la clase actual?</p>
        </div>
        <div class="modal-footer d-flex justify-content-between">
          <button data-bs-dismiss="modal" class="btn btn-danger" type="button">Cancelar</button>
          <a href="{% url 'listar_clases_profesor' %}" class="btn btn-success">Aceptar</a>
        </div>
      </div>
    </div>
  </div>
  <div class="modal" id="aceptar">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Confirmar Cambios</h5>
          <button data-bs-dismiss="modal" class="btn-close"></button>
        </div>
        <div class="modal-body">
          <p>¿Desea guardar los cambios?</p>
        </div>
        <div class="modal-footer d-flex justify-content-between">
          <button data-bs-dismiss="modal" class="btn btn-danger" type="button">Cancelar</button>
          <button data-bs-dismiss="modal" class="btn btn-success" type="submit" form="form">Aceptar</button>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block 'scripts' %}
<script src='{% static "jquery/jquery-3.7.1.min.js" %}'></script>
<script src='{% static "js/validar_clase.js" %}'></script>
{% endblock  %}