{% extends "layout/base_profesor.html" %}
{% load static %}

{% block 'sub-estilos' %}
<link rel="stylesheet" href="{% static 'css/botones.css' %}">
{% endblock %}

{% block 'titulo' %}Visualizar Clase{% endblock %}

{% block 'contenido' %}
<div class="text-center mt-3">
  <h1>Clase #{{clase.numero}} de <b>"{{clase.asignatura.nombre}}"</b></h1>
</div>
<hr>
<div class="container bg-white border rounded p-4">
  <h2 style="word-wrap: break-word; overflow: hidden;">Tema: <b>{{clase.encabezado}}</b></h2>
  <div style="text-align: justify; font-size: 20px;">
    {{clase.cuerpo}}
  </div>
</div>
<div class="mt-5 p-4"></div>
<div class="fixed-bottom d-flex p-3 justify-content-around bg-white border shadow">
  <a href="{% url 'modificar_clase' clase.pk %}" class="btn btn-modificar"><i class="fa-solid fa-pen-to-square"></i> Modificar Clase</a>
  <a href="{% url "listar_clases_profesor" %}" class="btn btn-green"><i class="fa-solid fa-arrow-left"></i> Volver</a>
  <a href="{% url 'eliminar_clase' clase.pk %}" class="btn btn-eliminar"><i class="fa-solid fa-trash-can"></i> Eliminar Clase</a>
</div>
{% endblock %}