{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Acceso Restringido</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel="stylesheet" href="{% static 'fontawesome/css/fontawesome.css' %}">
  <link rel="stylesheet" href="{% static 'fontawesome/css/brands.css' %}">
  <link rel="stylesheet" href="{% static 'fontawesome/css/solid.css' %}">
  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
  <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</head>

<body class="vh-100 d-flex justify-content-center align-items-center bg-warning">
  <div class="container bg-danger p-4 border border-dark rounded shadow text-light">
    <h5><i class="fa-solid fa-triangle-exclamation"></i> Error de Acceso!</h5>
    <hr>
    <h1>{{nombre}} {{apellidos}}, usted no tiene acceso a la URL introducida</h1>
    <h2>La URL pertenece al usuario "{{rol}}" y usted es "{{rol_usuario}}".</h2>
    <hr>
    <div class="d-flex justify-content-center">
      {% if rol_usuario == 'estudiante' %}
      <a href="{% url 'listar_asignaturas' %}" class="btn btn-light btn-lg"><i class="fa-solid fa-arrow-rotate-left"></i> Regresar</a>
      {% elif rol_usuario == 'profesor' %}
      <a href="{% url 'listar_clases_profesor' %}" class="btn btn-light btn-lg"><i class="fa-solid fa-arrow-rotate-left"></i> Regresar</a>
      {% endif %}
    </div>
  </div>
</body>

</html>